
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-content {
  margin: 10px;
}

.title mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title button[mat-icon-button] {
  position: absolute;
  left: 0;
}

.title .name {
  flex: 1;
  text-align: center;
  font-family: 'Noto Serif', serif;
}